---
title: About Phileas & Fogg
page: about
---

<div class="subpage-white">
  <div class="grid-container">
    <div class="grid-65 suffix-5">

      <p class="big">Phileas <em>&amp;</em> Fogg is building a globetrotting team of passionate, adventurous developers and designers who want to build products people love while enjoying unique experiences. We do things a little differently than the typical Silicon Valley startup.</p>
      <p>We are a traveling startup lab, with the goal of building something new every three months. Each product will be designed, developed and released from our temporary HQ in a new country, the first being Costa Rica (more on that below.) With shorter, more focused roadmaps and new, inspiring settings, we're intent on bringing about great results.</p>
      <p>And the name? It's inspired by Phileas Fogg, the adventurous lead character in Jules Verne's <i>Around the World in Eighty Days</i>.</p>

      <h2>How It Works</h2>
      <p>Pretty simple! We're building a team of designers and developers, and setting up shop somewhere awesome. We'll decide, together, on what we're going to work on and which country we'll work from.</p>

      <p>Given the shortened timeline, the products we choose will be smaller in scope and will build on the previous products. Our goal is to deliver a Minimum Viable Product within the three month window.</p>

      <p>We'll sweat all the details of your travel so that you can jump right in to make your contribution, experience the local culture and broaden your network. For the three months, team members will live and work together. P<em>&amp;</em>F will cover travel/living expenses and offer each team member equity and a monthly stipend.  In the down time, we'll explore the country, experience the culture and have opportunities to give back to the local communities.</p>

      <p>At the end of the three months we'll launch the product, and depending on how well it gains traction, team members will have the option of either continuing with the project in Silicon Valley or move on with the team to the next country. P<em>&amp;</em>F is split into three-month blocks, but we're excited to have people stick around and travel with us long-term.</p>

      <h2>The Products</h2>
      <p>We're looking to build products with the following characteristics:</p>
      <ul>
        <li><i class="icon icon-lightbulb"></i> The team understands and can relate to the addressable market</li>
        <li><i class="icon icon-cogs"></i> The product builds on our suite of previous products</li>
        <li><i class="icon icon-calendar"></i> A solid version 1.0 can be delivered in 13 weeks or fewer</li>
        <li><i class="icon icon-dollar"></i> There's a simple, obvious revenue model</li>
      </ul>
      <p>We're currently building <strong>a suite of interconnected tools aimed at developers</strong>, with each new tool building on and intergrating with the previous ones. Three months isn't enough time to enter a new market, however it is more than enough time to build the type of tools we're looking to do. Switching products and countries often may cause an interruption, however it also gives us a chance to take a step back every three months and examine if things are working.</p>

      <h2>Our First Country</h2>
      <figure>
        <img src="/img/costarica.png">
        <figcaption><em>&iquest;Listo? Vamos a hacer algo impresionante!</em></figure>
        <p>Our first destination will be Costa Rica. Known for its ecotourism, unmatched scenery and perennially temperate climate, we're confident the country will serve as a great setting for our inaugural project. There's a thriving tech scene, so we won't be alone. During our stay, the team will be housed in a large home with spectacular views and a great location. There will be plenty of opportunities to explore the local sites and experience what Central America has to offer.</p>
        <p>The first round begins on <strong>October 1<sup>st</sup>, 2013</strong> and will be returning on <strong>December 21<sup>st</sup></strong> &mdash; dates that serendipitously coincide perfectly with our namesake's trip around the world.</p>

        <h2>F.A.Q</h2>
        <div id="faq">
          <h3>Which countries are planned?</h3>
          <p>The first country is Costa Rica. After that, destinations will be decided as a group.</p>

          <h3>What's the timeline?</h3>
          <p>We'll be in Costa Rica from <strong>October 1<sup>st</sup></strong> through <strong>December 21<sup>st</sup></strong>. Can't make it? We'll be heading for a new country in January with another new, exciting project &mdash; so we encourage you to apply anyway. (The form has an option to apply for January's excursion to a yet-to-be-determined location.)</p>
          <p>Applications are due <strong>Sunday, September 1<sup>th</sup></strong>. Interviews will be conducted the following week, and we'll be sending out formal offer letters by <strong>Tuesday, September 3<sup>rd</sup></strong>.</p>


          <h3>Why travel?</h3>
          <p>We love Silicon Valley, but we wanted to try something new. Our location won't dictate the products we're working on, but hopefully they will inspire us and potentially allow us to make a positive local impact.</p>

          <h3>How many people will be on each team?</h3>
          <p>Team sizes will vary each time. The scope and size of the projects will then be adjusted to match the collective skill set of each team. We're starting with about 4 people per team, but this will change depending on the scope and nature of future projects.</p>

          <h3>Can I apply with a team?</h3>
          <p>This isn't like an incubator, where you apply with a team or an idea. Rather, we're hiring individual developers and designers &mdash; and this new team will decide on the ideas.</p>

          <h3>Why three months?</h3>
          <p>Aside from visa reasons, we feel three months is a good amount of time to build and launch a solid product.</p>

          <h3>What is the compensation?</h3>
          <p>While working in the country, P<em>&amp;</em>F will take care of everything &mdash; all airfare, housing, food, drinks, immunizations, traveler's insurance, health insurance and a bunch of fun excursions. In addition, everyone on the team will be provided with good equity in the company and a monthly stipend.
          </p>

          <h3>Who are you looking for?</h3>
          <p>We're looking for great engineers and designers with a strong product sense and a passion for trying new things.</p>
          <p>When it comes to development, our sites will trend towards being web apps. Our current engineers tend to favor Node/Python on the backend, Angular on the frontend and OSX for development. But don't let differences stop you from applying — we need everything from iOS prowess to DevOps chops.</p>
          <p>And of course, we need designers! Bonus points if you know your way around CSS and JavaScript.</p>
          <p>Currently, for legal and accounting reasons, we're only able to accept applications from people able to work in the US and who have valid passports. In the future this will change.</p>

          <h3>Who is behind this?</h3>
          <p>P<em>&amp;</em>F was founded by <a href="http://gkoberger.net">Gregory Koberger</a>, a designer and developer living in Silicon Valley. Currently, we're a small team of designers and developers.</p>

          <h3>How is this funded?</h3>
          <p>We have raised a seed round that will last us for a while.</p>

          <h3>How short/long can I do this for?</h3>
          <p>Commitments come in 3-month blocks, but we're hoping people stick around for longer. Eventually, we plan on setting up a Silicon Valley office so everyone can decide if they want to travel or not. We see this as more of a long-term job than a short-term project, but that's up to you.</p>

          <h3>This won't work! / That's not how you build a product!</h3>
          <p>P<em>&amp;</em>F is an experiment. We love Silicon Valley culture, but we believe there's more than one way to build a good product. We want to try new methods and see what happens. We'll be keeping track of our travels and what we've learned on <a href="http://phileasandblogg.com">the blogg</a>.</p>

        </div>
      </div>
      <div class="grid-30 joinus">
        <h2>Join Us!</h2>
        <p>What are you waiting for? Let's do this!</p>
        <div class="buttonbg">
          <a href="/apply" class="button"><i class="icon-compass"></i>&nbsp; Apply</a>
        </div>
        <ul class="countries">
          <li><strong>October 2013</strong> <span class="cr">Costa Rica</span></li>
          <li><strong>January 2014</strong> <span class="tbd">TBD</span></li>
          <li><strong>April 2014</strong> <span class="tbd">TBD</span></li>
          <li><strong>July 2014</strong> <span class="tbd">TBD</span></li>
        </ul>

        <hr>

        <h2>Get Involved!</h2>
        <p>We're also looking for <strong>partnerships</strong>, <strong>mentors</strong> and <strong>advisors</strong>. Need more convincing? Anyone involved is always welcome to visit wherever we are! So email us at <a href="mailto:getinvolved@phileasandfogg.com">getinvolved@phileasandfogg.com</a>.</p>
        <hr>

        <h2>Press?</h2>
        <p>We love to talk! Email us at <a href="mailto:press@phileasandfogg.com">press@phileasandfogg.com</a>.</p>
        <hr>

        <h2>Questions?</h2>
        <p>Please let us know if you have any questions! Email Gregory at <a href="mailto:gregory@phileasandfogg.com">gregory@phileasandfogg.com</a>.</p>
      </div>
    </div>

    <div class="grid-container signatures">
      <div class="grid-80">
        <p>We're looking forward to <a href="/apply">reading your application</a>!</p>
        <div class="sig1"></div>
        <p class="tight">Gregory Koberger, Founder</p>
      </div>

    </div>
  </div>
</div>

