---
title: Phileas & Fogg
---

<div class="loading"></div>
<div id="wrapper">
  <div id="info">

    <!--
    <p>What if you could travel the world while building awesome products with a team of highly talented developers <em>&amp;</em> designers? We love adventure and are passionate about building products &mdash; and we&#39;d love for you to join us!</p>
    -->

    <p>This October, we're flying a group of talented developers <em>&amp;</em> designers to live and work from an awesome geodesic dome in the Costa Rican rainforest for 80 days. We'll be building a suite of easy-to-use developer tools &mdash; and we&#39;d love for you to join us!</p>
    <p><strong><a href="/apply">Apply now for Fall 2013! &raquo;</a></strong></p>
  </div>

  <div id="bg">
    <div id="map">
      <div id="map-a"></div>
      <div id="map-b"></div>
      <div id="map-c"></div>
      <div id="map-d"></div>

      <div id="test1"><div class="s"><div class="shadow"></div></div></div>
      <div id="test2"><div class="s"><div class="shadow"></div></div></div>
      <div id="test3"><div class="s"><div class="shadow"></div></div></div>
      <div id="test4"><div class="s"><div class="shadow"></div></div></div>

      <div id="balloon-outside">
        <div id="balloon"></div>
        <div id="shadow"></div>
      </div>
    </div>
  </div>
</div>

<a id="blogg-stuff" class="icon-bullhorn" href="http://phileasandblogg.com/the-house/"> &nbsp;Meet our Costa Rican geodesic dome!</a>

<div id="social">
  <a class="icon-twitter" id="twitter" target="_blank" href="https://twitter.com/intent/tweet?source=webclient&text=Phileas+%26+Fogg,+the+globetrotting+labs+company+http://phileasandfogg.com+(@phileasandfogg)&a="></a>
  <a id="facebook" class="icon-facebook" href="#"></a>
</div>
